<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.survey.hzyanglili1.mysurvey">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Application.MySurveyApplication">
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.edit.MySurveiesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.use.SurveyListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.edit.NewSurveyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.edit.StartSurveyActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".activity.edit.QuestionSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.edit.XuanZeQActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.edit.TiankongQuesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.edit.ChengduQuestionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.edit.SurveyPrelookActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.edit.ShowImageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.edit.PrelookShowImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.use.ResultListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.edit.ZoomImageActivity"
            android:screenOrientation="portrait"/>


        <service android:name=".service.NetworkStateService"
            android:screenOrientation="portrait"/>

    </application>

</manifest>